@model ActorsCreateVM
<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h3 class="display-6">Create new Actor</h3>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label for=Name" class="form-label">Name</label>
                    <input class="form-control" placeholder="Enter actor name" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">Description</label>
                    <textarea class="form-control" placeholder="Description" rows="5" asp-for="Description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                 <div class="mb-3">
                    <label for="MovieId" class="form-label">Movie</label>
                    <select class="form-select" asp-for="MovieId">
                        <option value="">-- Select Movie --</option>
                        @foreach (var movie in Model.Movies)
                        {
                            <option value="@movie.Id">@movie.Name</option>
						}
                        </select>
                    </div>
                <div class="mb-3">
                    <label for="Img" class="form-label">Image</label>
                    <input type="file" class="form-control" placeholder="Enter actor image" name="img">
                    <span asp-validation-for="Img" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
